nav {
  min-height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  button {
    background: transparent;
    border: none;
    cursor: pointer;
    border: 2px solid #ffc857;
    color: #ffc857;
    padding: 0.5rem;
    transition: all 0.3s ease;
    &:hover {
      background: #ffc857;
      color: #1f2041;
    }
  }
}
@media screen and (max-width: 768px) {
  nav {
    button {
      z-index: 10;
    }
  }
}
